@import "tailwindcss";

@theme {
  --color-navy: #0F172A;
  --color-sidebar: #1E293B;
  --color-accent: #3B82F6;
  --color-text-main: #F1F5F9;
  --color-text-secondary: #94A3B8;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  background-color: var(--color-navy);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
